.ProfilePage_Container {
    height: calc(100% - 56px);
    overflow-y: auto;
  }
  
  .ProfilePage_Wrapper {
    width: 100%;
    height: fit-content;
    margin: 0;
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .ProfileForm_Content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ProfileForm_Title {
    display: flex;
    align-items: center;
    gap: 6px;
  }